//VARIABLES VARIOS
$tam-fuente: 2rem;

//VARIABLES PALETA DE COLORES

$c-principal: rgb(255, 255, 255);
$c-secundario: rgb(0, 38, 255);
$c-tercero: black;


//VARIABLES BACKGROUNDS

$bg-principal: rgb(255, 255, 255)